@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 100;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.page-header {
  position: relative;
  box-sizing: border-box;
  width: 1160px; /* Временное значение, пока не размечена сетка */
  margin-top: 40px;
  padding: 34px 60px 50px;
  background-color: #f7e296;
}

.page-header .logo {
  position: absolute;
  top: -17.5px;
}

.nav .catalog-link:hover {
  color: rgba(0, 0, 0, .6);
}

.nav .catalog-link:active {
  color: rgba(0, 0, 0, .3);
}

.page-header .header-row:first-of-type {
  display: flex;
  justify-content: space-between;
}

.page-header .header-row:nth-of-type(2) {
  margin-top: 29px;
}

.search-form {
  display: flex;
  position: relative;
  height: 49px;
  width: 440px;
}

.search-form::before {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 17px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: url('../img/search.svg') 0 0 no-repeat;
}

.search-form input[type='text'] {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  height: 100%;
  width: auto;
  padding: 0 20px 0 40px;
  color: rgba(70, 70, 70, .3);
}

.search-form input[type='text']::placeholder {
  color: rgba(70, 70, 70, .3);
}

.search-form input[type='text']:hover::placeholder {
  color: rgba(70, 70, 70, .6);
}
/* IE11, Edge18 */
.search-form input[type='text']:hover {
  color: rgba(70, 70, 70, .6);
}

.search-form input[type='text']:focus {
  color: rgba(70, 70, 70, 1);
}

/* Remove IE's "clear field" X button for input[type='text'] */
.search-form input[type='text']::-ms-clear {
  display: none;
}

.search-form button[type='submit'] {
  flex: 0 0 85px;
  position: relative;
  border: 2px solid #000;
  background: none;
  opacity: 0;
  pointer-events: none;
}

.search-form button[type='submit']::before {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 440px;
  border-bottom: 2px solid #000;
  pointer-events: none;
  outline: none;
}

.search-form input[type='text']:focus + button[type='submit'],
.search-form button[type='submit']:focus {
  opacity: 1;
  pointer-events: all;
}

.search-form button[type='submit']:hover {
  background-color: #000;
  color: rgb(255, 255, 255);
}

.search-form button[type='submit']:active {
  background-color: #000;
  color: rgba(255, 255, 255, .3);
}

.nav,
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-nav {
  align-items: baseline;
  width: 500px;
  height: 49px;
}

.user-nav > li {
  height: auto;
}

.nav,
.user-nav ul {
  display: flex;
}

.user-nav li {
  line-height: 21px;
  margin: auto 19px;
}

.user-nav li:first-child {
  margin-left: 0;
}

.user-nav li:last-child {
  margin-right: 0;
}

.user-account li {
  margin: 0 10px;
}

.page-header .user-account + li {
  margin-left: auto; 
}

.user-nav .icon-before {
  position: relative;
}

.user-nav .icon-before a {
  padding-left: 27px;
}

.user-nav .icon-before::before {
  content: '';
  position: absolute;
  bottom: 5px;
  pointer-events: none;
}

.user-btn.icon-before::before {
  left: 0;
  height: 12px;
  width: 13px;
}

.page-header .user-btn.icon-before::before {
  background: url('../img/user-black.svg') 0 0 no-repeat;
}

.page-footer .user-btn.icon-before::before {
  background: url('../img/user-orange.svg') 0 0 no-repeat;
}

.compare-btn.icon-before::before {
  left: 7px;
  height: 10px;
  width: 10px;
}

.page-header .compare-btn.icon-before::before {
  background: url('../img/compare-black.svg') 0 0 no-repeat;
}

.page-footer .compare-btn.icon-before::before {
  background: url('../img/compare-orange.svg') 0 0 no-repeat;
}

.cart-btn.icon-before::before {
  left: 3px;
  height: 12px;
  width: 12px;
}

.page-header .cart-btn.icon-before::before {
  background: url('../img/cart-black.svg') 0 0 no-repeat;
}

.page-footer .cart-btn.icon-before::before {
  background: url('../img/cart-orange.svg') 0 0 no-repeat;
}

.site-nav > li {
  margin: 0 19px;
  height: 24px;
  line-height: 24px;
}

.page-header .site-nav > li:first-child {
  margin-left: 0;
}

.page-header .site-nav > li:last-child {
  margin-right: 0;
  margin-left: 95px;
}

.page-header .site-nav > li:nth-child(2) {
  margin-left: auto;
}

.site-nav > li > a {
  display: inline-block;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.site-nav .catalog-link {
  position: relative;
  padding-right: 32px;
}

.site-nav .catalog-link::after {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  width: 16px;
  height: 16px;
  background: url('../img/plus.svg') 0 0 no-repeat;
  opacity: .3;
}

ul.catalog-categories {
  display: flex;
  visibility: hidden;
  box-sizing: border-box;
  padding: 23px 60px 32px;
}

.catalog-link:hover + .catalog-categories,
.catalog-categories:hover {
  visibility: visible;
}

.catalog-categories,
.site-nav .add-bg-before::before {
  position: absolute;
  left: 0;
  bottom: calc(-163px + 50px); /* высота .add-bg-before - margin-bottom page-header'а */
  background-color: #f7e296;
  width: 100%;
}

.catalog-categories a {
  line-height: 36px;
}

.site-nav .add-bg-before::before {
  height: 163px;
}

.site-nav .add-bg-before::before {
  content: '';
  z-index: -1;
}

.catalog-categories .categories-column {
  margin: 0 20px;
  width: 160px;
}

.catalog-categories .categories-column:nth-child(1) {
  margin-left: 0;
  width: 200px;
}

.catalog-categories .categories-column:nth-child(5) {
  margin-right: 0;
  width: 200px;
}

.categories-column li {
  height: 36px;
}
