@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 100;
}
