@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 100;
  color: #464646;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.logo:hover[href] {
  opacity: .6;
}

.logo:active[href] {
  opacity: .3;
}

.search-form {
  display: flex;
  position: relative;
  height: 49px;
  width: 440px;
}

.search-form::before {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 17px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: url('../img/search.svg') 0 0 no-repeat;
}

.search-form input[type='text'] {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  height: 100%;
  width: auto;
  padding: 0 20px 0 40px;
  color: rgba(70, 70, 70, .3);
}

.search-form input[type='text']::placeholder {
  color: rgba(70, 70, 70, .3);
}

.search-form input[type='text']:hover::placeholder {
  color: rgba(70, 70, 70, .6);
}
/* IE11, Edge18 */
.search-form input[type='text']:hover {
  color: rgba(70, 70, 70, .6);
}

.search-form input[type='text']:focus {
  color: rgba(70, 70, 70, 1);
}

/* Remove IE's "clear field" X button for input[type='text'] */
.search-form input[type='text']::-ms-clear {
  display: none;
}

.search-form button[type='submit'] {
  flex: 0 0 85px;
  position: relative;
  border: 2px solid #000;
  background: none;
  opacity: 0;
  pointer-events: none;
}

.search-form button[type='submit']::before {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 440px;
  border-bottom: 2px solid #000;
  pointer-events: none;
  outline: none;
}

.search-form input[type='text']:focus + button[type='submit'],
.search-form button[type='submit']:focus {
  opacity: 1;
  pointer-events: all;
}

.search-form button[type='submit']:hover {
  background-color: #000;
  color: rgb(255, 255, 255);
}

.search-form button[type='submit']:active {
  background-color: #000;
  color: rgba(255, 255, 255, .3);
}
